html {
  height: 100%;
}
html body {
  margin: 0;
  padding: 0;
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}

#header {
  width: 100%;
  height: 80px;
}
#header .container[role="navigation"] {
  padding-top: 10px;
}
#header .container[role="navigation"] .nav {
  font-size: 20px;
}
#header .auth {
  padding-top: 5px;
  text-align: right;
}

#alert {
  padding-top: 15px;
}
#alert .alert {
  text-align: center;
}

#login {
  padding-top: 50px;
}
#login .container {
  background-color: #eee;
}
#login .container form {
  padding-top: 100px;
  padding-bottom: 100px;
  text-algin: center;
}

#footer {
  height: 100px;
  position: relative;
  font-size: xx-large;
  font-weight: 900;
  width: 100%;
  clear: both;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  background-color: #FFF0F5;
}
#footer p {
  margin-top: 30px;
}

#my-slide {
  width: 100%;
  height: auto !important;
  margin-bottom: 40px;
}
#my-slide .carousel-inner .item:nth-child(1) {
  background: url("/img/slide-1.jpg") repeat-x;
}
#my-slide .carousel-inner .item:nth-child(2) {
  background: url("/img/slide-2.jpg") repeat-x;
}
#my-slide .carousel-inner .item:nth-child(3) {
  background: url("/img/slide-3.jpg") repeat-x;
}

.panel .panel-footer {
  text-align: right;
}
