extends ../layout

block content
  #login
    .container
      .col-sm-6.col-sm-offset-3
        form(method="post", action="/users/login") 
          .form-group
            label(for="email") 邮箱地址
            input.form-control.input-lg(type="email", id="email", placeholder="请输入邮箱地址")

          .form-group
            label(for="passwd") 密&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp码
            input.form-control.input-lg(type="password", id="password", placeholder="请输入密码")

          .form-group
            label
            button.btn.btn-primary.btn-lg.btn-block(type="submit") 登&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp录
